<p>La cantidad {{ myShoppingCart.length }}</p>
<p>El total es: ${{ total }}</p>
<button (click)="createNewProduct()">created</button>
<button (click)="toggleProductDetail()">click</button>

<div class="products--grid">
  <app-product
    [product]="product"
    *ngFor="let product of products"
    (addedProduct)="onAddToShoppingCart($event)"
    (showProduct)="onShowDetail($event)"
  ></app-product>
  <button (click)="loadMore()">load more</button>
</div>
<div class="product-detail" [class.active]="showProductDetail">
  <div *ngIf="productChosen">
    <button>close</button>

    <ngx-slick-carousel
      class="carousel"
      [config]="{ slidesToShow: 3, slidesToScroll: 1, infinite: true }"
    >
      <div ngxSlickItem *ngFor="let img of productChosen.images">
        <img [src]="img" alt="Product Image" />
      </div>
    </ngx-slick-carousel>

    <h1>{{ productChosen.description }}</h1>
    <button (click)="UpdateProduct()">editar</button>
    <button (click)="deleteProduct()">delete</button>
  </div>
</div>
